	<nav class="bg-white shadow-lg">
		<div class="max-w-6xl mx-auto px-4">
			<div >
				<div class="flex justify-between items-center space-x-7">
					<!-- Website Logo -->
          <div>
            <h1 class="text-green-500 font-bold text-4xl">Flats</h1>
					</div>
					<!-- Primary Navbar items -->
					<div class="hidden md:flex items-center space-x-1">
						<a
							href=""
							class="py-4 px-2 text-green-500 border-b-4 border-green-500 font-semibold "
							>Home</a
						>
						<a
							href=""
							class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
							>Services</a
						>
						<a
							href=""
							class="py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300"
							>About</a>
						<%= link_to 'Cadastrar Imóvel', new_property_path, class: "py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300" %>
						<% if property_owner_signed_in? %>
							<%= link_to 'Sair', new_property_owner_session_path, class: "py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300" %>
						<% else %>
							<%= link_to 'Entrar', new_property_owner_session_path, class: "py-4 px-2 text-gray-500 font-semibold hover:text-green-500 transition duration-300" %>
						<% end %>


							
					</div>
				</div>
			</div>
		</div>
	</nav>
